@import url(variables.css);

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--secondary-color);
  font-family: var(--font-family);
  display: flex;
  align-items: var(--align-items);
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.live_filter {
  max-width: var(--width);
  margin: 0 auto;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.live_filter__header {
  background-color: var(--primary-color);
  color: #fff;
  padding: 30px 20px;
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
}

.live_filter__title {
  margin: 0;
  font-size: 1rem;
}

.live_filter__subtitle {
  display: inline-block;
  margin: 5px 0 20px;
  opacity: 0.8;
  font-size: 0.8rem;
}

.live_filter__input {
  background-color: rgba(0, 0, 0, 0.3);
  border: 0;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  padding: 10px 15px;
  width: 100%;
}

.live_filter__input:focus {
  outline: none;
}

.live_filter__list {
  background-color: #fff;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 400px;
  overflow-y: auto;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.live_filter__list_item {
  display: flex;
  padding: 20px;
}

.live_filter__list_item:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}

.live_filter__list_item.hide {
  display: none;
}

.live_filter__loading {
  margin: 0;
}

.list_item__img {
  border-radius: 50%;
  object-fit: cover;
  height: 50px;
  width: 50px;
}

.list_item__info{
  margin-left: 10px;
}

.list_item__name{
  margin: 0 0 10px;
}

.list_item__bio{
  font-size: 0.75rem;
}

@media (max-width: 768px) {
  body{
    --align-items: flex-start;
    margin-top: 30px;
  }
  .live_filter {
    --width: 90%;
  }
}